* {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  font-family: "poppins";
}

html {
  margin: auto;
  max-width: 1440px;
  font-size: 10px;
  background-image: url("tull.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
/*nav*/
nav {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 14rem;
  color: #382626;
  border-bottom: 1px solid #e6e9ec;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.08);
  background-color: #8f8a6c81;
  text-shadow: #8f8a6c81;
}

nav .nav-brand {
  font-size: 3rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s;
  align-items: center;
}
span{
  color: #863737;

}
nav .nav-section {
  display: flex;
  align-items: center;
  
}
nav .nav-section ul {
  list-style: none;
}

nav .nav-section ul li {
  display: inline-block;
  margin-left: 2rem;
}

nav .nav-section ul li a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #000;
  transition: all 0.3s;

}
nav .nav-brand:hover,
nav .nav-section:hover {
  color: #bbaaff;
}
/*akir nav*/


/* head */
header {
  display: flex;
  color: #263238;
}
header .bag-satu {
  flex-basis: 50%;
  padding: 11%;
}
header .bag-satu .text-hello {
  margin-bottom: 1rem;
  font-size: 5rem;
  font-weight: 500;
}
header .bag-satu p {
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 22px;
  margin-top: 1rem;
}
header .bag-dua {
  flex-basis: 50%;
  margin-top: 2%;
  margin-right: 10%;
}

.gambar {   
  width: 300px;
  height: 350px;
  border-radius: 20px;
  align-items: baseline;

}
.ptcr{
  width: 350px;
  height: 400px;
  border-radius: 20px;
  align-items: stretch;
  margin-top: 1cm;

}

.btn-info {
  background: #ffb0a2d8;
  border-radius: 20px;
  margin-top: 20px;
  padding: 15px 35px 15px 35px;
  color: #010c2b;
  cursor: pointer;
  font-weight: bold;
  border-color: burlywood;
}

.btn-info:hover {
  background: #ffa4e1;
  text-decoration: solid;
}
#profil {
  display: block;
  margin-top: 170px;
  border-top: 20px solid #e6e9ec;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.08);
  text-align: center;
}
.hai {
  margin-top: 150px;
  font-size: 3rem;
  margin: auto;
}
p {
  margin-top: 5rem;
  font-family: Verdana, sans-serif;
  text-align: justify;
}

.rounded-circle {
  border-radius: 50%;
}
.aku {
  font-size: 2rem;
  margin-top: 3rem;
  text-align: center;
}

.lorem {
  font-size: 2rem;
  display: flex;
  /* padding: 20px; */
}

.gg {
  max-width: 600px;
  margin: auto;
  color: #382626;

}
  h1{
    font-size: 50px;
    word-break: break-all;
    display: flex;
    justify-content:center ;
  }
  h2{
    font-size: 25px;
    display: flex;
    justify-content: center;
  }
  hr {
    box-align : center;
    width: 15px 50%;
    size: 10px;
  }
.pe{
  font-family: cursive;
  margin: 0%;
  font-size: 25px;
  flex-basis: 50%;
  text-align: left;
}
.gbr{
  height: 320px;
  width: 180px;
  padding: 20px;
  align-items: center;
  justify-items: center;
  border-radius: 50px;
  margin-top: 0%;
}
.pp {
  align-items: center;
}

/* Punya gweh */
.sosial{
  display: flex;
  justify-content: center;
}
img{
  border-radius: 60px;
  display: block;
  margin-bottom: 10px;
  margin-right: 20px;
  margin-top: 50px;
}
